ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
}

h1{
    color: blue;
    font-size: 48px;
    justify-content: center;
}